{%- comment %}

  Product Card
  ------------------------------------------------------------------------------

  Usage:

  {% include 'product-card',
              product: { product } - required
              lazy_load: { boolean } - optional, defaults to false,
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %}
{% if lazy_load == blank %}
  {% assign lazy_load = false %}
{% endif %}
{% comment %} End Defaults {% endcomment %}

{% assign product_image_dimension = '1200x' %}

{% if product %}
  <div id="product-card-{{ product.id }}" class="product-card{% if product.available == false %} product-card--sold-out{% endif %}" data-product-card>
    <a href="{{ product.url }}" class="product-card__contents" data-product-card-contents>
      {% if product.featured_image %}
        <div class="product-card__gallery">
          {% if lazy_load %}
            <div class="product-card__gallery-image" style="height: 0; padding-bottom: {{ product.featured_image.height | times: 100 | divided_by: product.featured_image.width | append: '%' }}" data-product-card-gallery>
              <img data-src="{{ product.featured_image.src | img_url: product_image_dimension }}" alt="{{ product.featured_image.alt | escape }}" data-product-card-main-lazy>
              <div class="product-card__gallery-placeholder"></div>
            </div>
          {% else %}
            <div class="product-card__gallery-image" data-product-card-gallery>
              <img src="{{ product.featured_image.src | img_url: product_image_dimension }}" alt="{{ product.featured_image.alt | escape }}">
            </div>
          {% endif %}
        </div>
      {% endif %}

      <div class="product-card__info">
        <p class="product-card__info-title">{{ product.title }}</p>

        {% if product.available == false %}
          <p class="u-fs-xsmall">{{ 'products.product.sold_out' | t }}</p>
        {% else %}

          <p class="product-card__info-price" style="display: none;">
            {% if product.compare_at_price > product.price %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <s>{{ product.compare_at_price | money_without_trailing_zeros }}</s>
            {% endif %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money_without_trailing_zeros }}
            {% endif %}
          </p>

          {% for option in product.options_with_values %}
            {% assign option_name_upcase = option.name | upcase | strip %}        
            {% if option_name_upcase == "COLOR" and option.values.size > 1 %}
              <p class="u-fs-xsmall">{{ option.values.size }} Colors Available</p>
            {% endif %}
          {% endfor %}        
        {% endif %}
      </div>
    </a>
  </div>
{% endif %}
