{%- comment %}

  Product Detail Form Gallery
  ------------------------------------------------------------------------------

  {% include 'product-detail-form-gallery',
              product: { product } - required
  %}

{% endcomment -%}

{% comment %}
  This block of logic loops through all product images and checks if we have at least 1 with valid alt text for *each* color option.
{% endcomment %}
{% assign color_galleries_possible = false %}

{% for option in product.options_with_values %}
  {% assign option_name_upcase = option.name | upcase %}
  {% if option_name_upcase == "COLOR" %}
    {% assign colors_with_images = 0 %}
    {% for color in option.values %}
      {% assign color_upcase = color | upcase %}
      {% for image in product.images %}
        {% assign image_alt_upcase = image.alt | upcase %}
        {% if image_alt_upcase contains color_upcase %}
          {% assign colors_with_images = colors_with_images | plus: 1 %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if colors_with_images == option.values.size %}
      {% assign color_galleries_possible = true %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="product-galleries-wrapper" data-galleries-wrapper>
  {% if color_galleries_possible %}

    {% comment %} Make a gallery for each variant {% endcomment %}
    {% for option in product.options_with_values %}
      {% assign option_name_upcase = option.name | upcase %}
      {% if option_name_upcase == "COLOR" %}
        {% for color in option.values %}
          {% assign color_upcase = color | upcase %}

          <div class="product-gallery {% if forloop.index0 == 0 %}is-active{% endif %}" {% if forloop.index0 != 0 %}style="display: none"{% endif %} data-gallery data-variant-option-gallery="{{ color }}">
            <ul class="product-gallery__list">
              {% assign outputted_image_count = 0 %}
              {% for image in product.images %}
                {% assign image_alt_upcase = image.alt | upcase %}
                
                {% comment %} Looking for an exact match here {% endcomment %}
                {% if image_alt_upcase contains color_upcase %}
                  {% assign lazyload = true %}
                  {% if outputted_image_count == 0 %}
                    {% assign lazyload = false %}
                  {% endif %}

                  {% include 'product-detail-form-gallery-list-item',
                              pdfgli_image: image,
                              pdfgli_lazyload: lazyload
                  %}

                  {% assign outputted_image_count = outputted_image_count | plus: 1 %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>

        {% endfor %}
      {% endif %}
    {% endfor %}

  {% else %}

    {% comment %} Make one gallery for the product {% endcomment %}
    <div class="product-gallery is-active" data-gallery>
      <ul class="product-gallery__list">
        {% for image in product.images %}
          {% assign lazyload = true %}
          {% if forloop.index0 == 0 %}
            {% assign lazyload = false %}
          {% endif %}

          {% include 'product-detail-form-gallery-list-item',
            pdfgli_image: image,
            pdfgli_lazyload: lazyload
          %}
        {% endfor %}
      </ul>
    </div>

  {% endif %}
</div>

{% comment %}
  Preload ajax cart images
  
  Loop through the variants, pull the variant image if it exists otherwise fall back to the featured image
  This is the default cart behavior
{% endcomment %}
{% assign load_image_sources = '' %}
{% for variant in product.variants %}
  {% assign cart_img_src = product.featured_image.src %}
  {% if variant.image %}
    {% assign cart_img_src = variant.image.src %}
  {% endif %}

  {% assign load_image_sources = load_image_sources | append: cart_img_src | append: '$$' %}
{% endfor %}

{% comment %} This tells us which images we should load {% endcomment %}
{% assign load_images = load_image_sources | split: '$$' | uniq | join: ' ' %}

{% for image in product.images %}
  {% if load_images contains image.src %}
    {% comment %} If you update the image size, update the value corresponding value in cartAPI.js {% endcomment %}
    <!-- <link rel="prefetch" href="{{ image | img_url: '250x' }}"> -->
    <img src="{{ image | img_url: '250x' }}" style="display: none;" alt="{{ image.alt }}" />
  {% endif %}
{% endfor %}

<div class="blowup" data-blowup>
  <div class="blowup__close" data-blowup-close>
    <img src="{{ 'icon-close.png' | asset_url }}" alt="Close icon" />
  </div>
  <div class="blowup__scroll" data-blowup-scroll>
    <img class="blowup__image" data-blowup-image alt="Product image zoom" />
  </div>
  <div class="blowup__helper-text" data-blowup-close>
    {% comment %}Pinch to zoom &middot; Tap to close{% endcomment %}
    Tap to close
  </div>
</div>
