{%- comment %}

  Product Detail Form Snippet
  ------------------------------------------------------------------------------

  Requires:
  - product.js
  - productDetailForm.js
  - slideshow.js
  - product.liquid
  - product-detail.scss

  Usage:

  {% include 'product-detail-form',
              product: { product } - required
              current_variant: { variant } - optional
  %}

{% endcomment -%}

{% comment %} Defaults {% endcomment %} 
{% if current_variant == blank %}
  {% assign current_variant = product.selected_or_first_available_variant %}
{% endif %}
{% comment %} End Defaults {% endcomment %}

{% capture size_guide_drawer_html %}
  {% include 'product-detail-form-size-guide-drawer', product: product %}
{% endcapture %}

{% assign selection_required = true %}
{% if product.available and product.variants.size == 1 %}
  {% assign selection_required = false %}
{% endif %}

<div class="product-detail-form" data-product-detail-form>

  <div data-product-scroll-container>
    {% include 'product-detail-form-gallery', product: product %}

    <div class="product-essential" data-product-essential>

      <div class="hidden-xs">
        {% include 'product-detail-price', product: product, current_variant: current_variant %}
        <h1 class="h4">{{ product.title }}</h1>
      </div>

      <div class="hidden-xs hidden-sm">
        <div class="pdf-description">{{ product.description }}</div>
      </div>

      {% comment %} Sticky row {% endcomment %}
      <div class="visible-xs">
        <div class="sticky-row">
          <div class="sticky-row__entry u-fw-bold">{{ product.title }}</div>
          <div class="sticky-row__entry" style="flex-basis: 60px; flex: 0;">
            {% include 'product-detail-price', product: product, current_variant: current_variant %}
          </div>
        </div>
      </div>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

        <div data-add-to-cart-form-wrapper>
          <form action="/cart/add" method="post" enctype="multipart/form-data" data-add-to-cart-form>
            {% if product.available %}
              {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                  
                  {% assign option_name_downcase = option.name | downcase %}

                  {% capture option_alt_ui %}
                    <div class="option-value-list" data-option-position="{{ option.position }}" data-variant-option-value-list>
                      {% for value in option.values %}

                        {% comment %} If the product only has one option (like size) then we can show values as sold out by checking the variant for that option {% endcomment %}
                        {% assign is_disabled = false %}
                        {% if product.options.size == 1 %}
                          {% for v in product.variants %}
                            {% assign variant_option_prop = 'option' | append: option.position %}
                            {% if v[variant_option_prop] == value and v.available == false %}
                              {% assign is_disabled = true %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}

                        <a href="#" class="option-value{% if is_disabled %} is-disabled{% endif %}" data-variant-option-value="{{ value }}" {% if is_disabled %} disabled="disabled" aria-disabled="true"{% endif %}>
                          {{ value }}
                        </a>
                      {% endfor %}
                    </div>
                  {% endcapture %}

                  <div class="selector-wrapper form-group js">

                    <label for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>

                    <select
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      class="form-control"
                      data-single-option-selector
                      data-index="option{{ option.position }}"
                      {% if option_alt_ui != blank %}style="display: none"{% endif %}>
                      {% for value in option.values %}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                        </option>
                      {% endfor %}
                    </select>

                    {% comment %} Output alternative option UI here {% endcomment %}
                    {{ option_alt_ui }}

                  </div>

                  {% comment %}
                    To enable alternative variant option value select UI, create your markup here with the following data attributes.

                    parent - 'data-option-position="{{ option.position }}" data-variant-option-value-list'
                      child - 'data-variant-option-value="{{ value }}"'

                    These data attributes are used to attach click events and update the selected variant when one is clicked.
                    The child element should respond to some sort of 'active' class to reflect the selected value.

                    See: `scripts/slate/productDetailForm.js` - Product.prototype.onVariantOptionValueClick

                    For example, to show a list of sizes..

                    {% if option.name == "Size" %}
                      <div data-option-position="{{ option.position }}" data-variant-option-value-list>
                        {% for value in option.values %}
                          <span class="{% if option.selected_value == value %} is-active{% endif %}" data-variant-option-value="{{ value }}">
                            {{ value }}
                          </span>
                        {% endfor %}
                      </div>
                    {% endif %}

                    Be sure to hide the corresponding select tag for that option
                  {% endcomment %}

                {% endfor %}
              {% endunless %}

              <select name="id" class="no-js" data-product-select>
                {% for variant in product.variants %}
                  <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                    value="{{ variant.id }}">
                      {{ variant.title }}
                  </option>
                {% endfor %}
              </select>

              <button
                type="submit"
                name="add"
                class="btn btn-primary"
                data-add-to-cart
                {% if selection_required or product.available == false %}disabled="disabled"{% endif %}>
                <span data-add-to-cart-text>
                  {% if product.available %}
                    {% if selection_required %}
                      {% if product.options.size == 1 %}
                        Select {{ product.options[0] | captitalize }}
                      {% else %}
                        {{ 'products.product.select_options' | t }}
                      {% endif %}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endif %}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
              </button>

            {% else %}

            Sold out

            {% endif %}
            
            {% if size_guide_drawer_html != blank %}
              <br /><br /><a href="#" class="hidden-xs hidden-sm u-fs-small" data-size-guide-show>See Size Guide</a>
            {% endif %}

          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="visible-xs visible-sm">
    <div class="container">
      <div class="pdf-description">{{ product.description }}</div>
      {% if size_guide_drawer_html != blank %}
        <br /><br /><a href="#" class="hidden-xs hidden-sm u-fs-small" data-size-guide-show>See Size Guide</a>
      {% endif %}
    </div>
  </div>  
       
  {{ size_guide_drawer_html }}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {% include 'product-json', product: product %}
    </script>
  {% endunless %}

</div>
