<div data-section-id="{{ section.id }}" data-section-type="ajax-cart">
  <div class="ajax-cart-container" data-ajax-cart-container></div>
  
  <div class="modal fade verify-modal" tabindex="-1" role="dialog" aria-labelledby="verifyCartModalLabel" data-verify-modal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal" aria-label="Close">
            <img src="{{ 'icon-close.png' | asset_url }}" />  
          </a>
          <div class="modal-title" id="verifyCartModalLabel">Verify Cart</div>
        </div>
        <div class="modal-body" data-verify-modal-body></div>
        <div class="modal-footer">
          <form action="/cart" method="post" novalidate data-verify-modal-form>
            
          </form>
        </div> 
      </div>
    </div>
  </div>

  <div class="toast" data-ajax-cart-toast>
    <a href="#" class="toast__close" data-toast-close>
      Close This Notification
    </a>
    <div class="toast__content"></div>
  </div>
</div>

{% raw %}
<script type="text/x-handlebars-template" data-ajax-cart-template>
  <form action="/cart" method="post" novalidate>
    <div class="ajax-cart">
      <a href="#" class="ajax-cart__close" data-ajax-cart-close>Close</a>      
      <div class="ajax-cart__body">
        <div class="ajax-cart__body-scroll">
          {{#if items}}
            {{#if has_unavailable_items}}
              <div class="alert">
                {% endraw %}
                  {{ 'cart.general.unavailable_message' | t }}
                {% raw %}
              </div>
            {{/if}}
            <ul class="ajax-cart__list">
              {{#each items}}
              <li class="ajax-cart__item{{#if unavailable}} ajax-cart__item--unavailable{{/if}}" data-id="{{ variant_id }}" data-key="{{ key }}" data-qty="{{ quantity }}" data-ajax-item>
                <img src="{{ image }}" class="ajax-cart__item-image">
                <div class="ajax-cart__item-info">
                  <div class="ajax-cart__item-header">
                    <span class="ajax-cart__item-price">{{ line_price }}</span>
                    <a href="{{ url }}" class="ajax-cart__item-title">{{ product_title }}</a>
                  </div>
                  <ul class="ajax-cart__item-options">
                    {{#unless has_only_default_variant}}
                      {{#if variant_options}}
                        {{#each variant_options}}
                          <li>
                            {{ name }}: {{ value }}
                          </li>
                        {{/each}}
                      {{else}}
                        {{#if variant_title}}
                          <li>{{ variant_title }}</li>
                        {{/if}}
                      {{/if}}
                    {{/unless}}
                    <li>Qty: {{ quantity }}</li>
                    <li style="text-decoration: none !important">
                      <a href="#" class="ajax-cart__item-remove" data-ajax-cart-item-remove>→ Remove Item</a>
                    </li>
                  </ul>
                </div>
              </li>
              {{/each}}
            </ul>
          {{else}}
            <div class="ajax-cart__empty-message">
              {% endraw %}
                {{ 'cart.general.empty' | t }}
              {% raw %}
            </div>
          {{/if}}
        </div>
      </div>
      {{#if items}}
        <div class="ajax-cart__footer">
          <div class="ajax-cart__footer-row u-fw-bold">
            <p class="clearfix">Subtotal <span style="float: right">{{ total_price }}</span></p>  
          </div>
          <div class="ajax-cart__footer-row u-ta-center">
            <button type="submit" class="btn btn-block" {{#if has_unavailable_items }}disabled="true"{{/if}}>
              {% endraw %}{{ 'cart.general.go_to_checkout' | t }}{% raw %}
            </button>
            <a href="/cart" class="secondary-link">{% endraw %}{{ 'cart.general.view_cart_and_check_out' | t }}{% raw %}</a>
          </div>
          {% endraw %}
          {% if section.settings.footer_text != blank %}
            <div class="ajax-cart__footer-row u-ta-center">
              {{ section.settings.footer_text }}
            </div>
          {% endif %}
          {% raw %}
        </div>
      {{/if}}
    </div>
  </form>
</script>

<script type="text/x-handlebars-template" data-verify-modal-body-template>
  <p class="u-ta-center u-fs-xsmall">Please verify cart contents before proceeding to checkout</p>                  
  {{#if items}}
    <div class="verify-table">
      {{#each items}}
        <div class="verify-row">
          <img src="{{ image }}" class="verify-row__image">
          <div class="verify-row__content">
            <div class="verify-row__price">{{ line_price }}</div>
            <div class="verify-row__title">{{ product_title }}{{#if has_multiple}} &times; <strong>{{ quantity }}</strong>{{/if}}</div>
            {{#unless has_only_default_variant}}
              <ul class="list-unstyled">
                {{#if variant_options}}
                  {{#each variant_options}}
                    <li>
                      {{ name }}: <strong>{{ value }}</strong>
                    </li>
                  {{/each}}
                {{else}}
                  {{#if variant_title}}
                    <li>{{ variant_title }}</li>
                  {{/if}}
                {{/if}}
              </ul>
            {{/unless}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars-template" data-verify-modal-form-template>
  <div class="modal-footer__row">
    Cart Total: <strong>{{ total_price }}</strong>
  </div>
  <div class="modal-footer__row">
    <div class="checkbox u-margin-0 u-ta-left">
      <label>
        <input type="checkbox"
               name="attributes[Shipping notice seen]"
               value="true"
               {{#if shipping_notice_seen}}checked{{/if}}
               data-verify-shipping-notice-checkbox
        >
        <span class="checkbox-ui"></span>
        I have read the shipping policy and understand additional fees maybe incurred for international shipments.
      </label>
    </div>
  </div>          
  <div class="modal-footer__row">
    <input type="submit"
           name="checkout"
           class="btn btn-primary btn-block"
           value="Proceed to Checkout"
           {{#if shipping_notice_seen}}{{else}}disabled="true"{{/if}}
    >          
  </div>
</script>
{% endraw %}


{% schema %}
  {
    "name": "Ajax Cart",
    "settings": [
    ]
  }
{% endschema %}
