<div data-section-id="{{ section.id }}" data-section-type="contact">
  <div class="layout-content-wrapper layout-content-wrapper--even">
    <div class="container">

      <div class="page-form-wrapper">

        {% form 'contact' %}

          {% if form.posted_successfully? %}
            <p class="rte u-ta-center">
              {% if section.settings.success_message != blank %}
                {{ section.settings.success_message }}
              {% else %}
                {{ 'contact.form.post_success' | t }}
              {% endif %}
            </p>

          {% else %}

            <div class="rte u-ta-center">
              {{ section.settings.form_message | default: 'When contacting us, please include as much information as possible to help us assist you.' }}
            </div>

            <br />

            {% if form.errors %}
              <div class="alert alert-danger">
                {{ form.errors | default_errors }}
              </div>
            {% endif %}

            <div class="form-group">
              <label for="ContactFormEmail" class="sr-only">{{ 'contact.form.your_email' | t }}</label>
              <input type="email"
                name="contact[email]"
                id="ContactFormEmail"
                class="form-control"
                placeholder="{{ 'contact.form.your_email' | t }}"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                spellcheck="false"
                autocapitalize="off"
                data-input-email>
            </div>

            <div class="form-group">
              <label for="ContactFormOrder" class="sr-only">{{ 'contact.form.order_number' | t }}</label>
              <input type="text"
                name="contact[order number]"
                id="ContactFormEmail"
                class="form-control"
                placeholder="{{ 'contact.form.order_number' | t }} (Optional)"
                autocomplete="off"
                autocapitalize="off">
            </div>

            <div class="form-group">
              <label for="ContactFormMessage" class="sr-only">{{ 'contact.form.message' | t }}</label>
              <textarea rows="6"
                name="contact[message]"
                id="ContactFormMessage"
                class="form-control"
                placeholder="{{ 'contact.form.message' | t }}" data-input-message>
                {%- if form.body -%}
                  {{ form.body }}
                {%- endif -%}
              </textarea>
            </div>

            <input type="submit" class="btn btn-primary btn-block" value="{{ 'contact.form.send' | t }}">
          {% endif %}

        {% endform %}

        {% if page.content != blank %}
          <br />
          <div class="rte u-ta-center">{{ page.content }}</div>
        {% endif %}
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Page",
    "settings": [
      {
        "id": "form_message",
        "type": "textarea",
        "label": "Form Message",
        "info": "Content at the top of the form"
      },
      {
        "id": "success_message",
        "type": "text",
        "label": "Success Message",
        "info": "Displays when someone submits the form successfully"
      }
    ]
  }
{% endschema %}
