<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer">
  {% unless settings.mailchimp_form_url == blank %}
    <form action="{{ settings.mailchimp_form_url }}" method="post">
      <div class="form-contents" data-form-contents>
        {% if section.settings.subscribe_helper_text != blank %}
          <p class="form-helper-text">{{ section.settings.subscribe_helper_text }}</p>
        {% endif %}
        <div class="form-inputs" data-form-inputs>
          <div class="minimal-input-box">
            {% assign input_id = 'email-input-' | append: section.id %}
            <label for="{{ input_id }}" class="label-hidden">Enter Email</label>
            <input type="email" name="EMAIL" class="minimal-input-box__input" value="" placeholder="Your Email" required="required" id="{{ input_id }}" />
            <button type="submit" class="minimal-input-box__submit">
              {% include 'icon-arrow-right' %}
              <span class="icon-fallback-text">Submit</span>
            </button>
          </div>
        </div>
        <div class="form-message" data-form-message></div>
      </div>
    </form>
  {% endunless %}
  {% if section.settings.menu and linklists[section.settings.menu].links.size > 0 %}
    <div class="footer-menu">
      {% for link in linklists[section.settings.menu].links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% unless forloop.last %} &middot; {% endunless %}
      {% endfor %}
    </div>
  {% endif %}

  <script type="application/json" data-footer-json>
    {
      "messages": {
        "subscribe_success": {{ section.settings.subscribe_message_success | default: 'Thank you for subscribing' | json }},
        "subscribe_fail": {{ section.settings.subscribe_message_fail | default: 'Check your email address and try again' | json }},
        "subscribe_already_subscribed": {{ section.settings.subscribe_message_already_subscribed | default: 'This email address is already subscribed' | json }}
      }
    }
  </script>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
       "type": "header",
       "content": "Subscribe Form"
      },
      {
        "type": "textarea",
        "id": "subscribe_helper_text",
        "label": "Helper Text",
        "default": "Enter your email to receive updates",
        "info": "Shown when the user is interacting with the subscribe form."
      },
      {
        "type": "textarea",
        "id": "subscribe_message_success",
        "label": "Message - Success",
        "default": "Thank you for subscribing",
        "info": "Shown to the user when they successfully subscribe"
      },
      {
        "type": "textarea",
        "id": "subscribe_message_subscribe_fail",
        "label": "Message - Subscribe Fail",
        "default": "Check your email address and try again"
      },
      {
        "type": "textarea",
        "id": "subscribe_message_already_subscribed",
        "label": "Message - Already Subscribed",
        "default": "This email address is already subscribed"
      },
      {
       "type": "header",
       "content": "Footer Menu"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}
