<div data-section-id="{{ section.id }}" data-section-type="mobile-menu">

  <div class="drawer" data-mobile-menu>
    <div class="drawer__inner">    
      <div class="drawer__body">
        <div class="drawer__body-contents">
          {% if settings.main_menu != blank %}
            <nav>
              <ul class="mobile-menu">
                {% for link in linklists[settings.main_menu].links %}
                  <li>
                    <a href="{{ link.url }}" {% if link.active or link.child_active %}class="is-active"{% endif %}>{{ link.title }}</a>

                    {% if link.links.size > 0 %}
                      {% comment %}
                      <ul>
                        {% for l in link.links %}
                          <li><a href="{{ l.url }}">{{ l.title }}</a></li>
                        {% endfor %}
                      </ul>
                      {% endcomment %}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Mobile Menu",
    "settings": []
  }
{% endschema %}