<style type="text/css">
  #password-content {
    opacity: 0;
    -webkit-transition: opacity 4s cubic-bezier(0.24, 0, 0.24, 1);
         -o-transition: opacity 4s cubic-bezier(0.24, 0, 0.24, 1);
            transition: opacity 4s cubic-bezier(0.24, 0, 0.24, 1);
  }

  #password-content.is-visible {
    opacity: 1;
  }
</style>

<div class="container u-ta-center">
  <div id="password-content">
    {% if section.settings.image %}
      <div class="u-pos-rel" style="max-width: 90%; margin: 0 auto 45px;">
        <img src="{{ section.settings.image | img_url: '1000x' }}" style="max-width: 100%; width: {{ section.settings.image_width | append: 'px' }}"/>
        <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1"></div>
      </div>
    {% endif %}
    {% if section.settings.content %}
      <div>
        {{ section.settings.content }}
      </div>
    {% endif %}
  </div>

  <div id="Login" style="display: none; width: 500px; max-width: 90%; margin: 0 auto;">
    {% form 'storefront_password' %}
      {% comment %}{{ form.errors | default_errors }}{% endcomment %}
      {% comment %}<label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>{% endcomment %}
      <input type="password"
        name="password"
        id="Password"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
      <button type="submit" name="commit">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {% endform %}
  </div>

</div>

<script type="text/javascript">
  if(window.location.search.indexOf('password') > -1) {
    document.getElementById('Login').style.display = 'block'
  }

  setTimeout(function() {
    document.getElementById('password-content').classList.add('is-visible');
  }, 1200);
</script>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "range",
        "id":   "image_width",
        "min":  200,
        "max":  1000,
        "step": 25,
        "unit": "px",
        "label": "Image Width",
        "default": 600
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      }
    ]
  }
{% endschema %}
