<div data-section-id="{{ section.id }}" data-section-type="password">
  {% if section.settings.show_logo %}
    <header class="header">
      {% include 'header-logo' %}
    </header>
  {% endif %}

  <div id="password-content" class="password-content {% if section.settings.subscribe_form_enabled %}password-content--has-subscribe{% endif %}">
    <div class="password-content__core container">
      {% if section.settings.image %}
        <div class="password-content__image {% if section.settings.contain_image %} password-content__image--contained{% endif %}" style="width: {{ section.settings.image_width | append: 'px' }};">
          <!-- @TODO - lazy load with src set -->
          <img src="{{ section.settings.image | img_url: '1000x' }}"/>
        </div>
      {% endif %}
      {% if section.settings.content %}
        <div class="password-content__text">
          {{ section.settings.content }}
        </div>
      {% endif %}
    </div>

    {% if section.settings.subscribe_form_enabled %}
      <div class="password-subscribe">
        <form action="{{ settings.mailchimp_form_url }}" method="post" class="subscribe-form" data-subscribe-form>
          {% if section.settings.subscribe_helper_text != blank %}
            <p class="form-helper-text">{{ section.settings.subscribe_helper_text }}</p>
          {% endif %}
          <div class="form-contents" data-form-contents>
            <div class="form-inputs">
              <div class="minimal-input-box">
                {% assign input_id = 'email-input-' | append: section.id %}
                <label for="{{ input_id }}" class="label-hidden">Enter Email</label>
                <input type="email" name="EMAIL" class="minimal-input-box__input" value="" placeholder="Your Email" required="required" id="{{ input_id }}" />
                <input type="hidden" name="SIGNUP" value="Site - Password Page" />
                <button type="submit" class="minimal-input-box__submit">
                  {% include 'icon-arrow-right' %}
                  <span class="icon-fallback-text">Submit</span>
                </button>
              </div>
            </div>
            <div class="form-message" data-form-message></div>
          </div>
        </form>
      </div>
    {% endif %}
  </div>

  <div id="Login" class="password-login" style="display: none;">
    {% form 'storefront_password' %}
      <p class="u-ta-center u-fs-small">Enter site using password</p>
      <div class="minimal-input-box">
        <label for="password" class="label-hidden">Store Password</label>
        <input type="password" name="password" class="minimal-input-box__input" placeholder="Password" required="required" id="password" />
        <button type="submit" name="commit" class="minimal-input-box__submit">
          {% include 'icon-arrow-right' %}
          <span class="icon-fallback-text">Submit</span>
        </button>
      </div>
    {% endform %}
  </div>
</div>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_logo",
        "label": "Show Logo",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "range",
        "id":   "image_width",
        "min":  200,
        "max":  1000,
        "step": 25,
        "unit": "px",
        "label": "Image Width",
        "default": 600
      },
      {
        "type": "checkbox",
        "id": "contain_image",
        "label": "Contain Image",
        "default": false
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
       "type": "header",
       "content": "Subscribe Form"
      },
      {
        "type": "checkbox",
        "id": "subscribe_form_enabled",
        "label": "Enable Subscribe Form",
        "default": true
      },
      {
        "type": "textarea",
        "id": "subscribe_helper_text",
        "label": "Helper Text",
        "default": "Enter your email to receive updates from our online store."
      }
    ]
  }
{% endschema %}
